# 1 - app is deployed on server (DEBUG=False);
# 0 - app is on local machine (DEBUG=True);
PUBLIC=0

# Postgres database credentials
DB_NAME=postgres_plate_app
POSTGRES_USER=postgres_plate_app_user
POSTGRES_PASSWORD=Postgres123Plate4$^%App%%Password
DB_SERVICE=plate_app_postgres
DB_PORT=5432

# How long django can wait for connection with DB
WAIT_FOR_DB=40

# Private key, keep it in secret on server
# base64 /dev/urandom | head -c 50
SECRET_KEY=Your_secret_key

# Application administrator
SUPER_NAME=admin.login
SUPER_MAIL=admin.password@mail.com
SUPER_PASSWORD=Admin123Password%^@

# Site name for ALLOWED_HOSTS in settings.py
# On server it could be: mysite.com
# For Windows: localhost:2001
# For Linux: 0.0.0.0:2001
HOST_NAME=localhost